baseband==4.3.0
click==8.3.3
cloudpickle==3.1.2
dask==2026.3.0
fsspec==2026.3.0
locket==1.0.0
matplotlib==3.10.8
munkres==1.1.4
optype==0.9.3
pandas-stubs==2.3.2.250926
partd==1.4.2
pulsarbat==0.0.9
PySide6==6.9.3
scipy==1.15.3
scipy-stubs==1.15.3.0
shiboken6==6.9.3
tinycss2==1.4.0
toolz==1.1.0
zstandard==0.25.0
